<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <button><a href="/photos">Back to Index</a></button><br><br>
  <button><a href="/photos/<%=photo.id%>">Go Back</a></button><br>
<h1>Edit <%=photo.title%></h1>
<br>
<ul>
<form action="/photos/<%=photo.id%>?_method=PUT" method="POST">
  Change Title: <input type="text" name="title"><br><br>
  <label for="url">Change Photo:</label>
          <input type="url" name="urls" id="url"
               value="<%=photo.urls%>"
               size="20"/><br><br>
               <input type="submit" value="Save"/>
  </form>
</body>
</html>