<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Username Placeholder Photo</h1>
	<button><a href="/photos/<%=photo.id%>/edit">Edit Photo</a></button>
	<img style="height: 100%; width: 100%" src="<%=photo.urls%>">
</body>
</html>