<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Show Page for <%=user.name%></h1>
		<nav>
			<ul>
				<li> <a href="/">Home</a></li>
				<li><a href="/users"></a></li>
			</ul>
		</nav>
	</header>
</body>
</html>