<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/users">Users Index</a></li>
		<li><a href="/users/<%=user.id%>/edit">Edit User</a></li>
		</ul>
		<h1>Show Page for</h1><br>
		<h2>User: <%=user.username%></h2>
		<nav>
			<ul>
			
			</ul>
		</nav>
	</header>
</body>
</html>